@import "./mixin";
@import "./_variables.scss";
@import "./media-queries";

//Pagina Index
*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}    

.header__index{
    @include nav();
    text-shadow: 0px 0px 8px rgba(74, 207, 240, 0.71);

}
.inicioproductos{
    width: 100%;
    color: #2c2b2b;
background: #FFFFFF;
text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
    @include contenido-pagina-texto();
    padding: 20px;
    margin: 10px 0px 20px 0px;
    @include desktop{
        font-size: 10px;
    }
}
.paginalista{
    list-style: none;
    display: flex;
    margin-top: 3%;
    @include desktopindex{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    
}
.paginalista1{
    list-style: none;
    display: flex;
    margin-top: 10%;
    @include desktopindex{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

}
.listatexto{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.Contenido__pagina{
    background: $color-fondo;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 20px;
    .contenidoPagina__texto{
        @include contenido-pagina-texto();
        @include desktop{
            margin: 20px 5px 30px 5px;
            padding: 10px;
        }
        @include movil{
            margin: 20px 5px 30px 5px;
            padding: 10px;
        }

    }
    .img__contenido{
    width: 550px;
    margin-top: 6%;
    transition: all 400ms; 
        @include desktop{
            width: 21rem;

        }
        @include movil {
            width: 21rem;
        }
    }.img__contenido:hover{
        transform: $hover-agrandar
       
    }
    .img__telefono{
        height: 550px;
        width: 500px;
        transition: all 400ms;
        @include desktop{
            width: 21rem;
            height: 22rem;
        }
        @include movil{
            width: 21rem;
            height: 22rem;
        }
        
    }.img__telefono:hover{
        transform: $hover-agrandar;
    }
    

}
.footer__index{
    @include degradado();
    background: rgb(48, 180, 233);
    display: flex;
    justify-content: center;
    padding: 20px;
    .imgfooter{
        width: 30px;
        margin: 3px;
    
    } 
}

//Ubicacion
.html__ubicacion{
    background-color: $color-paginas-secundarias ;
}
.gridd__ubicacion{ 
    display: grid;
    grid-template-columns: auto;
    justify-items: center;

    .imagen__logo__ubicacion{
    width: 250px;
    margin-bottom: 30px;
    @include desktop{
        width: 150px;
    }
    }
    .imagen__ubicacion__local{
    width: 500px;
    @include desktop{
        width: 300px;
    }

    }
}

.logoubicacion{   
     display: flex;
    justify-content: center;
  .logos__ubicacion{
    width: 50px;
    margin-top: 30px;   
    }  
}  

.header__ubicacion{
    @include nav();
}

//Informacion
.html__informacion{
    background-color:$color-paginas-secundarias;

}
.header__informacion{
    @include header-pagina-sec();
}
.informacion__texto{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 20px;
    margin: 30px 45px 30px 45px;
    background-color: aliceblue;
    border-radius: 20px;
    font-size: larger;
    @include desktop{
        flex-wrap: wrap;
    }
     
}
.imageninfo{
    width: 40%;
    height: 40%;
    
}
.textoinfo{
    display: flex;
    align-items: center;
}

//Historia




//Contacto

.html__contacto{
    background-color: $color-paginas-secundarias;
}

.header__contacto{
    @include header-pagina-sec();
}
.contact {
    padding: .8rem;
    overflow: hidden;
    color: rgb(2, 2, 2);
    text-decoration: none;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .contact label, .contact input, .contact textarea {
    display: block;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;   
  }
  
  .contact label {
    font-weight: 700;
  }
  
  .contact input:not([type='submit']), .contact textarea {
    border: none;
    border-bottom: 2px solid #19deec;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
  }
  
  .contact textarea {
    min-height: 100px;
  }
  
  input[type='submit'] {
    padding: 10px;
    background: #1371af;
    border: none;
    color: white;
    font-size: 20px;
 }
.contacto__contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .imagen__contacto{
    width: 140px;
    height: 140px;
    padding: 5px;
    @include desktop {
        width: 110px;
        height: 110px;
    }
    @include movil{
        height: 100px;
        width: 100px;
    }
    }
      
}

.imagen__contacto:hover{
    transform: $hover-agrandar
}